body {
  background-color: #ffffff;
  padding-top: 70px;
}
.about-container {
  max-width: 100%;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
}

.description {
  margin: 2%;
  flex-direction: column;
  display: flex;
  padding-top: 40px;
}

.about-container img {
  padding: 40px;
  width: 100%;
  max-width: 40rem;
  height: 100%;
  margin-top: 1rem;
  left: 0;
}

.about-container h2 {
  color: #151875;
  font-family: Josefin Sans;
  font-size: 2em;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px 0;
}

.about-container p {
  color: #8a8fb9;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 20px;
  padding-bottom: 60px;
}

.contact-us-btn {
  background-color: #fb2e86;
  color: #ffffff;
  width: 145px;
  height: 44px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #add;
  border-radius: 6px;
}

.contact-us-btn:hover {
  background: #f71174;
}

.wrapper h2 {
  color: #151875;
  font-family: Josefin Sans;
  font-size: 42px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 40px;
}

.Features {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.Features .OurFeatures {
  margin: 15px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  position: relative;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.Features .OurFeatures:hover {
  background-color: #ecc0d3;
}

.Features .OurFeatures h3 {
  color: #151875;
  font-size: 22px;
  margin-top: 50px;
}

.Features .OurFeatures p {
  color: #6b6db3;
  margin-top: 6%;
}