* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
/* ********************************************************************************************** */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}
header.sticky {
  background: #fff;
  padding: 20px 10%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
}
.navMenu {
  display: flex;
}

.navMenu a {
  color: #2c2c2c;
  font-size: 18px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.navMenu a:hover {
  color: #ee1c47;
}
.brand {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  color: black;
}

.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 1.5625rem;
  font-weight: 400;
  transition: all 0.42s ease;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: #ee1c47;
}
#menu-icon {
  font-size: 2.1875rem;
  cursor: pointer;
  z-index: 10001;
  color: #2c2c2c;
  display: none;
}
@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }
  .navMenu a {
    padding: 5px 0;
    margin: 0px 5px;
  }
}
/*1090px*/
@media (max-width: 920px) {
  #menu-icon {
    display: block;
  }
  .navMenu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    background: #e7e4f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  .navMenu a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.4s ease;
  }
  .navMenu li:hover {
    background-color: rgb(220, 217, 217);
  }
  .navMenu a:hover {
    color: #fc4f71;
    transform: translateY(5px);
  }
  .navMenu.open {
    right: 2%;
  }
}
/* search btn  */
.search-box {
  
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: #2c2c2c;
}
.input-search::placeholder {
  color: #2c2c2c;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #2c2c2c;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:hover ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #2c2c2c;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:hover {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* user icon drop down menu */
/* when scroll header will be sticky  */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 220px;
  background-color: #e7e4f8;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #ee1c47;
  transform: translateY(5px);
  background-color: rgb(220, 217, 217);
  transition: all 0.5s ease;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* ********************************************************************************************** */

h1 {
  text-align: center;
  padding: 62px 0 30px 0;
  font-family: "Josefin Sans", sans-serif;
  color: #fb2e86;
  transform: translateY(30px);
}

h2 {
  text-transform: capitalize;
  font-size: 18px;
  padding: 7px 3px 7px 3px;
  color: rgb(25, 25, 141);
}

p {
  /* text-transform: lowercase; */
  line-height: 1.5;
  padding: 7px 3px 7px 3px;
  color: #7c7c7f;
  font-size: 14px;
  font-style: italic;
}
h4 {
  text-transform: capitalize;
  font-size: 14px;
  font-style: italic;
  padding: 7px 3px 7px 3px;
}
.price {
  color: blue;
}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  justify-content: center;
  gap: 4rem;
  padding-left: 20px;
  margin-top: 30px;
  padding-bottom: 50px;
  box-sizing: none;
}
.product img {
  width: 250px;
  height: 200px;
  mix-blend-mode: multiply;
  padding-bottom: 25px;
  padding-left: 100px;
}

/* .image {
  margin: auto;
} */
.product img:hover {
  transform: scale(1.2);
}
.product {
  display: block;
  width: 400px;
  height: 450px;
  padding: 61px 10px;
  line-height: 1.2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ********************************************************************************************** */

.footer {
  margin-top: auto;
  background-color: #e7e4f8;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10%;
}

.footer p {
  font-style: normal;
}
.info-icon i {
  margin-right: 10px;
  color: #3517bd;
}
.footer span {
  color: #fb2e86;
}

#emptySearch{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #e7e4f8;
  width: 500px; 
  padding: 40px;
  box-sizing: border-box; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fb2e86; 
  text-align: center;
  border-radius: 15px;
}
#emptySearch p{
  font-family: "Josefin Sans";
  font-size: 40px;
  display: inline;
  padding-left: 10px;
  color: #fb2e86;

}