body{
    padding-top: 90px;
}

.templet{
    padding: 40px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.1fr 0.4fr 1.9fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "info info contact contact"
      "get-in-touch get-in-touch contact contact"
      "get-in-touch get-in-touch img img"
      "get-in-touch get-in-touch img img";
  }
  
  .info { grid-area: info; }
  
  .contact { grid-area: contact; }
  
  .get-in-touch { grid-area: get-in-touch; }
  
  .img { grid-area: img; }

@media (max-width:600px) {
  .container{
    display: flex;
    flex-direction: column;
}
}

h2{
    color: #151875;
    font-family: Josefin Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
 }
    
p{
    color: #8A8FB9;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
}

.info{
    text-align: left;
}

.circle-container {
    grid-template-columns: 1fr;
    display: flex;
    justify-content:space-evenly;
    margin-right:50% ;
}

.Ellipse-41,
.Ellipse-42,
.Ellipse-43,
.Ellipse-44,
.Ellipse-45,
.Ellipse-46,
.Ellipse-47
{
      width: 35px;
      height: 35px;
      border-radius: 50%;
}

.Ellipse-41{
    background-color: #5625DF;
}


.Ellipse-42{
    background-color: #FF27B7; 
}

.Ellipse-43{
    background-color:#37DAF3;
}

.Ellipse-44{
    background-color:#5726DF;
}

.Ellipse-45{
    background-color:#FB2E86;
}

.Ellipse-46{
    background-color:#FFB265;
}

.Ellipse-47{
    background-color:#1BE982;
}

.contact{
    text-align: left;
}

.circle-contact{
    display: flex;
}
.pair-container {
    display: flex;
    flex-direction: column;
    margin-right: 90px; 
}

.text-container{
    font-size: 15px;
    line-height: 0.9;
}


/* .templet .img{
    width: 2%;
    height: 2%;
    height: 25vh;
} */

.contact-form{
    padding: 2rem 0;
}


.contact-form form{
    padding-bottom: 1rem;
}

.form-control{
    width: 100%;
    border: 1.5px solid #FB2E86;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: Lato ;
    font-size: 1rem;
    outline: 0;
}

.form-control:focus{
    box-shadow:0 0 6px -3px #42011d;
}

.contact-form form div{
    display: grid;
    column-gap: 0.6rem;
}

.send-btn{
    font-family: Josefin Sans;
    font-size: 16px;
    text-transform: uppercase;
    color:#FFFFFF;
    background: #FB2E86;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.send-btn:hover{
    color: #41061f;
}