* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
.image {
  mix-blend-mode: multiply;
}
body {
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}

/* when scroll header will be sticky  */
header.sticky {
  background: #fff;
  padding: 20px 10%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
}

.navMenu {
  display: flex;
}

.navMenu a {
  color: #2c2c2c;
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.navMenu a:hover {
  color: #ee1c47;
}
.brand {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  color: black;
}

.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 1.5625rem;
  font-weight: 400;
  transition: all 0.42s ease;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: #ee1c47;
}

#menu-icon {
  font-size: 2.1875rem;
  cursor: pointer;
  z-index: 10001;
  color: #2c2c2c;
}

/* ******************************************************************** first section 1 **************************************************************** */
/* main home */
section {
  padding: 5% 12%;
}
/* .lamp {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
} */
.bag {
  width: 300px;
  right: 0;
}

.main-home {
  background-color: #f2f0ff;
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.main-home .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .main-home .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .main-text h5 {
    transform: translateY(42px);
    padding-bottom: 25px;
    padding-top: 25px;
  }
}

.main-text h1 {
  color: #000;
  font-size: 4.0625rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.1;
  margin: 6px 0 10px;
  padding: 23px 0px;
}

.main-text h5 {
  color: #fb2e86;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.1rem;
}

.main-text p {
  color: #333c56;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 20px;
  line-height: 1.5;
}

.main-btn {
  display: inline-block;
  color: #111;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  border: 2px solid #111;
  border-radius: 5px;
  padding: 12px 25px;
  transition: all 0.42s ease;
  margin: 21px 2px;
}

.main-btn:hover {
  background-color: #fb2e86;
  border: 2px solid #fb2e86;
  color: white;
}
.main-btn i {
  vertical-align: middle;
}

/* .down-arrow {
  position: absolute;
  top: 92%;
  right: 11%;
}

.down i {
  font-size: 1.875rem;
  color: #2c2c2c;
  border: 2px solid #2c2c2c;
  border-radius: 3.125rem;
  padding: 12px;
}
.down i:hover {
  background-color: #fb2e86;
  border: 2px solid #fb2e86;
  color: white;
} */

.bx-down-arrow-alt::before {
  content: "";
}

/* ******************************************************************** second section 2 **************************************************************** */

.center-text h2 {
  color: #1a0b5b;
  font-size: 2.75rem;
  text-transform: capitalize;
  text-align: center;
}

.center-text span {
  color: #fb2e86;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 8rem;
  margin-top: 70px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.products .row {
  position: relative;
  transition: all 0.4s;
}

.products .row img {
  height: 250px;
  transition: all 0.4s;
}
.products .row img:hover {
  transform: scale(0.9);
}
/* .products .row:hover {
  transform: scale(1.2);
} */

.product-text h4 {
  color: #fb2e86;
  line-height: 2;
  margin-top: 4px;
}

.product-text h5 {
  color: #2c31ba;
  line-height: 2;
}

.products .row a .bx {
  left: 3px;
  font-size: 20px;
}

.heart-icon {
  position: absolute;
  right: 0px;
  bottom: 70px;
  font-size: 20px;

  border-radius: 50%;
  color: #333;
}

.heart-icon :hover {
  color: red;
}

.rating i {
  color: #ff8c00;
  font-size: 18px;
}

.price p {
  color: #2c31ba;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 2;
}

/* ******************************************************************** third section 3 **************************************************************** */
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  text-align: center;
  gap: 4rem;
  margin-top: 70px;
}

.content .row {
  width: 295px;
  height: auto;
  padding: 61px 10px;
  background-color: #f7f7f7;
  line-height: 1.2;
  color: #bfbbd1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content .row img {
  margin-bottom: 11px;
}

.content .product-text h4 {
  color: #2c31ba;
  line-height: 2;
}

.content .row .product-text p {
  line-height: 1.5;
  padding-top: 3px;
}
/* ******************************************************************** fourth section 4 **************************************************************** */
.unique {
  background-color: #f2f0ff;
  width: 100%;
  height: 579px;
}

.unique .center {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  top: -64px;
  margin: auto;
  width: 82%;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .unique .center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 75%;
  }
  .unique {
    height: auto;
  }
}
.unique .image {
  width: 300px;
  margin-right: 40px;
  mix-blend-mode: multiply;
}

.unique h2 {
  padding: 10px;
  font-size: 3.0625rem;
  color: #1a0b5b;
}
/* .unique ul {
  list-style: disc;
  font-size: 20px;
  padding: 10px;
  line-height: 2;
  text-transform: capitalize;
} */

.unique p {
  display: inline-block;
  vertical-align: middle;
  color: #7c7c7f;
  line-height: 1.5;
  padding: 10px;
  font-size: 18px;
}

/* ******************************************************************** contact section  **************************************************************** */

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 4rem;
  margin-top: 70px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
}

.contact-info h2 {
  padding-bottom: 30px;
  text-transform: capitalize;
}

.contact-info p {
  font-size: 18px;
  line-height: 2;
  text-transform: capitalize;
  color: #a8a8af;
}

/* ******************************************************************** footer section  **************************************************************** */

.footer {
  background-color: #e7e4f8;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10%;
}

.info-icon i {
  margin-right: 10px;
  color: #3517bd;
}

@media screen and (max-width: 800px) {
  .info-icon i {
    padding-top: 20px;
  }
}
.footer span {
  color: #fb2e86;
}
