/* product list page*/
body {
    margin: 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    display: flex;
}

.detail-containter {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 15px; */
    margin-bottom: 50px;
}

.product-container {
    width: 900px;
    margin: auto;
    max-width: 70vw;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
}

.show-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.show-more-button {
    background: none;
    border: none;
    font-family: "Josefin Sans";
    font-weight: 600;
    color: #0D134E;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    padding: 20px 0;
    text-align: left;
    margin-left: 20px;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

/*lazy loading*/
html{
    scroll-behavior: smooth;
}
.product-container .loading{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(21, 20, 20, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #0D134E;
    display: none;
}


/* .listProduct .blur-load.loaded {
    opacity: 1;
}

.listProduct .blur-load>img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.listProduct .blur-load::before {
    content: "";
    inset: 0;
    animation: pulse 2.5s infinite;
}

.listProduct .blur-load.loaded::before {
    content: none;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
} */

h2 {
    font-weight: 500;
    font-size: large;
    color: #0D134E;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.price {
    color: #0D134E;
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 5;
    padding-bottom: 12px;
}

.category-filters label {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.product-container {
    flex-grow: 1;
}

.category-filters h3 {
    padding-left: 35px;
}
.category-filters .filter-btn{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #FB2E86;
}


.category-filter {
    padding-bottom: 5px;
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category-filter p {
    padding-left: 30px;
    font-family: 'Lato';
    color: #7E81A2;
}

.category-filter input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.category-filter:hover input~.checkmark {
    background-color: #FFDBF1;
}

.category-filter input:checked~.checkmark {
    background-color: #FFDBF1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.category-filter input:checked~.checkmark:after {
    display: block;
}

.category-filter .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #FF3EB2;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark {
    cursor: pointer;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #FFDBF1;
}


/* detail page */

.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
    margin-top: 30px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.detail .image img {
    width: 100%;
}

.detail .image {
    position: relative;
}

.detail .image::before {
    position: absolute;
    content: '';
    background-color: #94817733;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;

}

.detail .name {
    color: #0D134E;
    font-size: xx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}

.detail .price {
    font-weight: bolder;
    color: #FB2E86;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    padding-top: 10px;
}

.detail .buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.detail .buttons button {
    border: none;
    color: #0D134E;
    font-family: "Josefin Sans";
    font-weight: 600;
    background-color: inherit;
    padding: 8px 0px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.detail .buttons svg {
    width: 15px;

}

.detail .buttons span {
    color: #0D134E;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.detail .category {
    color: #0D134E;
}

.detail .rating {
    color: #0D134E;
}

.detail .description {
    color: #A9ACC6;
    font-family: "Josefin Sans";
    font-weight: 370;
    padding-top: 15px;
    line-height: 1.75;
}

/* shopping cart page */

.checkout-container {
    width: 1200px;
    margin: auto;
    max-width: 90%;
    transition: transform 1s;
}

.checkoutLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
    color: #0D134E;
}

.checkoutLayout .right {
    background-color: #E8E6F1;
    padding: 40px;
    /* color: #1D3178; */
    margin-top: 40px;
}

.checkoutLayout .right .form .wrapper .group {
    position: relative;
}

.checkoutLayout .right .form .group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #151875;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #A9ACC6;
    outline: none;
    background: transparent;
}

.checkoutLayout .right .form .group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #A9ACC6;
    pointer-events: none;
    transition: .5s;
}

.checkoutLayout .right .form .group input:focus~label,
.checkoutLayout .right .form .group input:valid~label {
    top: -20px;
    left: 0;
    color: #151875;
    font-size: 12px;
}

.checkoutLayout .right .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.checkoutLayout .right h1 {
    padding-bottom: 20px;
}


.checkoutLayout .form .group input:focus~.underline:before,
.checkoutLayout .form .group input:valid~.underline:before {
    transform: scale(1);
}

.checkoutLayout .right .return .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkoutLayout .right .return .row div:nth-child(2) {
    font-weight: bold;
    font-size: x-large;
}

.buttonCheckout {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #19D16F;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.returnCart h1 {
    border-top: 1px solid #eee;
    padding: 20px 0;
}

.returnCart hr {
    border-top: 1px solid #E1E1E4;
    width:550px;
   
    
}

.returnCart .list .item img {
    height: 90px;
    width: 90px;
}

.returnCart .list .item {
    display: grid;
    grid-template-columns: 80px 1fr 50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
}

.returnCart .list .item .info .name {
    padding-bottom: 10px;
    width: 200px;
}

.returnCart .list .item .quantity {
    display: flex;
    justify-content: end;
    align-items: center;
}

.returnCart .list .item .quantity span {
    display: block;
    width: 50px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.returnCart .list .item .quantity button {
    border: none;
    cursor: pointer;
}

.returnCart .list .item .quantity span:nth-child(2) {
    background-color: transparent;
    color: #0D134E;
    cursor: auto;
}

.returnCart .list .item .name,
.returnCart .list .item .returnPrice {
    font-size: large;
    font-weight: bold;
    width: 100px;
}

#clearCartButton{
    /* display: fixed;
    position: absolute;
    bottom: 100px;
    left: 1000px; */
}