body {
    margin: 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
    padding-top: 80px;
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    display: flex;
}

.detail-containter {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 15px; */
    margin-bottom: 50px;
}

.show-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.show-more-button {
    background: none;
    border: none;
    font-family: "Josefin Sans";
    font-weight: 600;
    color: #0D134E;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    padding: 20px 0;
    text-align: left;
    margin-left: 20px;
    color: #0D134E;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
    color: #0D134E;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.listProduct .item .prices {
    color: #0D134E;
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 5;
    padding-top: 5px;
    padding-bottom: 12px;
}
.listProduct .item .category{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #0D134E;
    text-align: left;
}
.listProduct .item .rate{
    padding-bottom: 5px;
    color: #0D134E;
    text-align: left;
}
.wishList{
    right: 0;
    bottom: 0;
    position: absolute;
    padding-right: 20px; 
    padding-bottom: 15px;
}

.product-container {
    flex-grow: 1;
}


.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
    margin-top: 30px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.detail .image img {
    width: 100%;
}

.detail .image {
    position: relative;
}

.detail .image::before {
    position: absolute;
    content: '';
    background-color: #94817733;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;

}
/* .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    text-align: left;
    gap: 0.5rem;
    margin-top: 70px;
} */

.detail .name {
    color: #0D134E;
    font-size: xx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}

.detail .price {
    font-weight: bolder;
    color: #FB2E86;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    padding-top: 10px;
}

.detail .buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.detail .buttons button {
    border: none;
    color: #0D134E;
    font-family: "Josefin Sans";
    font-weight: 600;
    background-color: inherit;
    padding: 8px 0px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.detail .buttons svg {
    width: 15px;

}

.detail .buttons span {
    color: #0D134E;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.detail .category {
    color: #0D134E;
}

.detail .rating {
    color: #0D134E;
}

.detail .description {
    color: #A9ACC6;
    font-family: "Josefin Sans";
    font-weight: 370;
    padding-top: 15px;
    line-height: 1.75;
}

/* Media Queries for responsiveness */
/* @media screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .detail {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    .listProduct {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .detail {
        grid-template-columns: 1fr;
    }

    .show-more-container {
        flex-direction: column;
        align-items: center;
    }

    .show-more-button {
        margin-right: 0;
    }
} */

/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}
