/* product list page*/
body {
    margin: 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    display: flex;
}

.detail-containter {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 15px; */
    margin-bottom: 50px;
}

.product-container {
    width: 900px;
    margin: auto;
    max-width: 70vw;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
}

.show-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.show-more-button {
    background: none;
    border: none;
    font-family: "Josefin Sans";
    font-weight: 600;
    color: #0D134E;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    padding: 20px 0;
    text-align: left;
    margin-left: 20px;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

/*lazy loading*/
html{
    scroll-behavior: smooth;
}
.product-container .loading{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(21, 20, 20, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #0D134E;
    display: none;
}


/* .listProduct .blur-load.loaded {
    opacity: 1;
}

.listProduct .blur-load>img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.listProduct .blur-load::before {
    content: "";
    inset: 0;
    animation: pulse 2.5s infinite;
}

.listProduct .blur-load.loaded::before {
    content: none;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
} */

h2 {
    font-weight: 500;
    font-size: large;
    color: #0D134E;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.price {
    color: #0D134E;
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 5;
    padding-bottom: 12px;
}

.category-filters label {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.product-container {
    flex-grow: 1;
}

.category-filters h3 {
    padding-left: 35px;
}
.category-filters .filter-btn{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #FB2E86;
}


.category-filter {
    padding-bottom: 5px;
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category-filter p {
    padding-left: 30px;
    font-family: 'Lato';
    color: #7E81A2;
}

.category-filter input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.category-filter:hover input~.checkmark {
    background-color: #FFDBF1;
}

.category-filter input:checked~.checkmark {
    background-color: #FFDBF1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.category-filter input:checked~.checkmark:after {
    display: block;
}

.category-filter .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #FF3EB2;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark {
    cursor: pointer;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #FFDBF1;
}
